<body>
    <main class="main-content">
        <h1>Administrar Préstamos</h1>
        <form class="search-loan-form" id="adminLoanForm">
            <label class="form-label" for="codigo">Código del Préstamo:</label>
            <input class="form-input" type="text" id="codigo" name="codigo" required>
            <button class="btn-primary" type="submit">Buscar</button>
        </form>
    </main>
    <script src="/js/adminLoan.js"></script>
</body>


