<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Préstamos</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main class="main-content">
        <h1>Administrar Préstamos</h1>
        <form class="search-loan-form" id="adminLoanForm">
            <label class="form-label" for="loanId">ID del Préstamo:</label>
            <input class="form-input" type="text" id="loanId" name="loanId" required>
            <button class="btn-primary" type="submit">Buscar</button>
        </form>
    </main>
    <script src="/js/adminLoan.js"></script>
</body>
</html>
