<body class="body">
    <h1 class="home-title">Core de Préstamos</h1>
    <div class="grid-container">
        <div class="card">
            <a href="/form">
                <i class="fas fa-plus-circle fa-3x"></i>
                <h3>Alta de Préstamos</h3>
            </a>
        </div>
        <div class="card">
            <a href="/loan/search">
                <i class="fas fa-search fa-3x"></i>
                <h3>Consulta de Préstamos</h3>
            </a>
        </div>
        <div class="card">
            <a href="/payments/search">
                <i class="fas fa-money-check-alt fa-3x"></i>
                <h3>Pagos</h3>
            </a>
        </div>
        <div class="card">
            <a href="/accrue-interest">
                <i class="fas fa-file-alt fa-3x"></i>
                <h3>Administración</h3>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <i class="fas fa-chart-line fa-3x"></i>
                <h3>Reportes</h3>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <i class="fas fa-cog fa-3x"></i>
                <h3>Configuración</h3>
            </a>
        </div>
        <div class="card">
            <a href="/loan/list">
                <i class="fas fa-list fa-3x"></i>
                <h3>Listado de Préstamos</h3>
            </a>
        </div>
    </div>
</body>