
<body>
    <main class="main-content">
        <h1>Buscar Préstamo</h1>
        <form class="search-loan-form" id="loanSearchForm">
            <label class="form-label" for="codigo">Código del Préstamo:</label>
            <input class="form-input" type="text" id="codigo" name="codigo" required>
            <button class="btn-primary" type="submit">Buscar</button>
        </form>
    </main>
    <script src="/js/loanSearch.js" defer></script>
</body>
</html>
