<nav id="sidebar" class="sidebar">
    <button id="menu-btn" class="menu-btn"><i class="fas fa-bars"></i></button>
    <ul id="menu-items" class="hidden">
        <li><a href="/home"><i class="fas fa-home icon"></i>Inicio</a></li>
        <li>
            <a href="#"><i class="fas fa-address-book icon"></i>Alta de Préstamo</a>
            {{!-- <ul class="submenu hidden">
                <li><a href="#" id="search-client-link"><i class="fas fa-search icon"></i>Buscar Clientes</a></li>
                <li><a href="/container" id="list-client-link"><i class="fas fa-list-alt icon"></i>Por Segmentos</a></li>
                <li><a href="/assigned-clients" id="list-client-link"><i class="fas fa-list-alt icon"></i>Lista de Clientes</a></li>
            </ul> --}}
        </li>
        <li><a href="/profile"><i class="fa fa-user-circle icon"></i>Consultar Préstamos</a></li>
        <li><a href="#"><i class="fas fa-bar-chart icon"></i>Pagos</a>
            {{!-- <ul class="submenu hidden">
                <li><a href="/reportes"><i class="fas fa-pie-chart icon"></i>Dashboard</a></li>
                <li><a href="/reportes/descriptive"><i class="fas fa-line-chart icon"></i>Descriptive Analysis</a></li>
                <li><a href="/reportes"><i class="fas fa-pie-chart icon"></i>Submenu 2</a></li>
                <li><a href="#"><i class="fas fa-area-chart icon"></i>Submenu 3</a></li>
            </ul> --}}
        </li>
        <li><a href="/strategyDesign"><i class="fas fa-th icon"></i>Administración</a>
            {{!-- <ul class="submenu hidden">
                <li><a href="/segmentation"><i class="fas fa-columns icon"></i>Segmentation</a></li>
                <li><a href="/workflow"><i class="fas fa-comments icon"></i>Actions Design</a></li>
                <li><a href="/emails"><i class="fas fa-envelope icon"></i>Email Editor</a></li>
                <li><a href="/places"><i class="fas fa-map-marker icon"></i>Places</a></li>
                <li><a href="/actions"><i class="fas fa-history icon"></i>Comments</a></li>
            </ul> --}}
        </li>
        <li><a href="#"><i class="fas fa-sticky-note icon"></i>Reportes</a></li>
        <li><a href="#"><i class="fas fa-cog icon"></i>Configuración</a>
            {{!-- <ul class="submenu hidden">
                <li><a href="/admin/users"><i class="fas fa-sitemap icon"></i>Admin</a></li>
                <li><a href="#"><i class="fas fa-wrench icon"></i>Submenu 2</a></li>
            </ul> --}}
        </li>
        <li>
            <a href="/logout" id="logout"><i class="fas fa-sign-out-alt icon"></i>Logout</a>
        </li>
    </ul>
</nav>
